 
.feature-book{
    display: flex;
max-width: 100%;
 
flex-direction: column;

gap: 5.125rem;
margin-top: 8rem;
margin-bottom: 5.35rem;
 
    
}.feature-book h3{
    padding-left: 7rem;
   text-align: left;
    color: #111113;
font-family: "Satoshi";
font-size: 5.59688rem;
font-style: normal;
font-weight: 900;
line-height: 126.225%; /* 7.06463rem */
letter-spacing: -0.056rem;
}
.flex-book{
    display: flex;
 justify-content: center;
 max-width: 100%;
 
 margin-bottom: 5rem;
gap: 5.125rem;
}
.flex-book img{
    width: 18.76738rem;
height: 26.73413rem;
flex-shrink: 0;
border-radius: 0.60388rem;
border: .5rem solid #8B6EFF;
 
}

@media (max-width:450px) {
    .feature-book h3{
 padding: 2rem;
font-size: 2.0495rem;
font-style: normal;
font-weight: 900;
line-height: 126.225%; /* 2.58694rem */
letter-spacing: -0.0205rem;
    }
    .flex-book{
        align-items: center;
        display: flex;
    flex-direction: column;
     max-width: 100%;
     
     margin-bottom: 5rem;
    gap: 5.125rem;
    }
    .btn-flexx{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .feature-book{
        margin-top: 8rem;
        gap: 2rem;
    }
}